{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="about1 w-100" id="about">
    <div class="row w-100">
        <div class="abtcl col-lg-6">
            <h1>Tests</h1>
            <h6>Empower your wellness journey with comprehensive health assessments and diagnostic</h6>
            <h6>tests for personalized care on our Tests page.</h6>
        </div>
        <div class="tes col-lg-6">
            <img src="../static/images/test.jpg" alt="">
        </div>
    </div>
</section>
<section class="tst">
    <div class="tst6rw row mx-auto">
        <div class="col-lg-4">
            <div class="tstrw1 row">
                <h5>HAEMATOLOGY</h5>
            </div>
            <div class="row tstrw">
                <h5 class="mt-3">COMPLETE BLOOD COUNT (CBC)</h5>
            </div>
            <div class="row tstrw">
                <h6 class="hb mt-2">Hb</h6>
            </div>
            <div class="row tstrw">
                <h6 class="tc">TC</h6>
            </div>
            <div class="row tstrw">
                <h6 class="Dc">DC</h6>
            </div>
            <div class="row tstrw">
                <h6 class="esr">ESR</h6>
            </div>
            <div class="row tstrw">
                <h6 class="plate">Platelet Count</h6>
            </div>
            <div class="row tstrw">
                <h6 class="aec">AEC</h6>
            </div>
            <div class="row tstrw">
                <h6 class="pbf">Retics Peripheral Blood Film (PBF)</h6>
            </div>
            <div class="row tstrw">
                <h6 class="mp">Malarial Parasite (MP)</h6>
            </div>
            <div class="row tstrw">
                <h6 class="mf">MF</h6>
            </div>
            <div class="row tstrw">
                <h6 class="le">LE Cells</h6>
            </div>
            <div class="row tstrw">
                <h6 class="rh">Group Rh</h6>
            </div>
            <div class="row tstrw">
                <h6 class="mant">Mantoux</h6>
            </div>
            <div class="row tstrw">
                <h6 class="bt">BT</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ct">CT</h6>
            </div>
            <div class="row tstrw">
                <h6 class="pti">PTINR</h6>
            </div>
            <div class="row tstrw">
                <h6 class="aptt">APTT</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ptind">PT Index</h6>
            </div>
            <div class="row tstrw">
                <h6 class="cprof">Coagulation Profile</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ict">ICT</h6>
            </div>
            <div class="row tstrw">
                <h6 class="dc">DC</h6>
            </div>
            <div class="row tstrw">
                <h6 class="lupus">Lupus Anticoagulants</h6>
            </div>
            <div class="row tstrw">
                <h6 class="hbel">Hb Electrophoresis</h6>
            </div>
            <div class="row tstrw">
                <h6 class="Proteinele">Protein Electrophoresis</h6>
            </div>
            <div class="row mt-4 tsw5">
                <h5 class="urine">URINE</h5>
            </div>
            <div class="row mt-4 tstrw">
                <h6 class="urinecom">Urine Complete Examination</h6>
            </div>
            <div class="row tstrw">
                <h6 class="alb">Albumin</h6>
            </div>
            <div class="row tstrw">
                <h6 class="sugar">Sugar</h6>
            </div>
            <div class="row tstrw">
                <h6 class="me">ME</h6>
            </div>
            <div class="row tstrw">
                <h6 class="preg">PREGNANCY TEST</h6>
            </div>
            <div class="row tstrw">
                <h6 class="acet">Acetone/ PH/ Specific Gravity</h6>
            </div>
            <div class="row tstrw">
                <h6 class="bile">Bile Salt</h6>
            </div>
            <div class="row tstrw">
                <h6 class="bilep">Bile Pigment</h6>
            </div>
            <div class="row tstrw">
                <h6 class="prot">Protein (24Hrs.)</h6>
            </div>
            <div class="row tstrw">
                <h6 class="urbo">Urobilinogen</h6>
            </div>
            <div class="row tstrw">
                <h6 class="crcle">Creatinine Clearance (24 Hrs.)</h6>
            </div>
            <div class="row tstrw">
                <h6 class="pcr">Protein Creatinine Ratio (Spot urine)</h6>
            </div>
            <div class="row tstrw">
                <h6 class="bjp">Bence Jones Protein</h6>
            </div>
            <div class="row tstrw">
                <h6 class="vma">VMA (24Hrs.)</h6>
            </div>
            <div class="row mt-4 tsw5">
                <h5 class="urine">STOOL</h5>
            </div>
            <div class="row tstrw">
                <h6 class="mt-4 sre">Stool Routine examination</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ph">PH</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ocb">Occult Blood</h6>
            </div>
            <div class="row tstrw">
                <h6 class="resu">Reducing Substance</h6>
            </div>
            <div class="row tsw5 mt-4">
                <h5 class="urine">SEMEN ANALYSIS</h5>
            </div>
            <div class="row tstrw">
                <h6 class="mt-4 dse">Detailed Semen Examination</h6>
            </div>
            <div class="row tstrw">
                <h6 class="sef">Semen Fructose</h6>
            </div>
            <div class="row tsw5 mt-3">
                <h5 class="urine">MICROBIOLOGY</h5>
            </div>
            <div class="row tstrw">
                <h5 class="mt-4">CULTURE AND SENSITIVITY</h5>
            </div>
            <div class="row tstrw">
                <h6 class="mt-2 uri">Urine</h6>
            </div>
            <div class="row tstrw">
                <h6 class="sef">Blood
              <h6>
            </div>
            <div class="row tstrw">
                <h6 class="ocb">Stool</h6>
            </div>
            <div class="row tstrw">
                <h6 class="sef">Sputum</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ocb">Conj-Swab</h6>
            </div>
            <div class="row tstrw">
                <h6 class="sef">Pus</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ocb">Throat Swab</h6>
            </div>
            <div class="row tstrw">
                <h6 class="sef">Semen</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ocb">Gramsstain</h6>
            </div>
            <div class="row tstrw">
                <h6 class="sef">Scraping for Fungus</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ocb">AFB Culture</h6>
            </div>
            <div class="row tstrw">
                <h6 class="sef">AFB Stain</h6>
            </div>
            <div class="row tstrw">
                <h6 class="ocb">Fungal Culture</h6>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="tstrw2 row">
                <h5>BIO CHEMISTRY</h5>
            </div>
            <div class="row tst1rw2">
                <h5 class="mt-3">DIABETIC PANEL</h5>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb mt-2">Fungal Culture</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">PPBS</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">RANDOM</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">GTT-F 100gm(lhr/2hr/3hr)</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">GTT-F 75 gm ( 1/2 hr/ lhr/ V/2 hr/ 2hr)</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Glucose Challenge test (GCT) lhr.50gm glu</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Glucose Challenge test (GCT) 2hr.75gm glu</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">HBA1C (GLYCOSILATED Hb)</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Microalbuminuria</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Insulin</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Microalbumin to Creatinine Ratio</h6>
            </div>
            <div class="row tst1rw2">
                <h5 class="mt-3">LIPID PROFILE</h5>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb mt-3">Cholesterol</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Triglycerides</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">HDL</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">LDL</h6>
            </div>
            <div class="row tst1rw2">
                <h5 class="mt-3">LIVER FUNCTION TEST (LFT)</h5>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb mt-3">Bilirubin</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Total</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Direct
                </h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">SGOT</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">SGPT</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Alkaline Phosphatase</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Protein</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Albumin</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Globulin</h6>
            </div>
            <div class="row tst1rw2">
                <h5 class="mt-3">SERUM ELECTROLYTES</h5>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb mt-3">Sodium</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Pottasium</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Chloride/h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Bicarbonate</h6>
            </div>
            <div class="row tst1rw2">
                <h5 class="mt-3">KIDNEY FUNCTIONS</h5>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb mt-3">Urea</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Creatinine</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Uric Acid</h6>
            </div>
            <div class="row tst1rw2">
                <h5 class="mt-3">CARDIAC ENZYMES</h5>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb mt-3">CK</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">CK-MB</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">LDH</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Troponin 1</h6>
            </div>
            <div class="row tst1rw2">
                <h5 class="mt-3">OTHERS</h5>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb mt-3">Calcium</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Phosphorous</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Magnesium</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Ferritin</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">lron</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">TIBC</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Gamma GT</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Lipase</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Amylase</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Ammonia
                </h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Vit D</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Vit B12</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">Ceruloplasmin</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Lithium</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="ocb">IL-6</h6>
            </div>
            <div class="row tst1rw2">
                <h6 class="sef">Direct LDL</h6>
            </div>
        </div>
            <div class="col-lg-4">
                <div class="row tsw4">
                    <h5>TORCH PANEL</h5>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb mt-3">Toxoplasma</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Rubella</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">CMV</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">HSV I &-Il</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">HSVI</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">HSVII</h6>
                </div>
                <div class="row tst1rw2">
                    <h5 class="mt-3">HEPATITIS PANEL</h5>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb mt-2">HBsAg (ELISA)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">HBsAg(Card)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">AntiHCV (ELISA)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Anti HCV(Card)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Anti HAV IgM</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Anti HAV Igg</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">AntiHbs Total</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">AntiHEV IgM</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">AntiHbe Total</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Hbe Ag</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">AntiHbe Total</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Anti Hbc IgM</h6>
                </div>
                <div class="row tst1rw2">
                    <h5 class="mt-3">TUMOUR MARKERS</h5>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb mt-2">CEA</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">AFP
                    </h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">CA 19.9</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">CA 125</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">CA 15.3</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">PSA
                    </h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Free PSA
                    </h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Beta HCG</h6>
                </div>
                <div class="row tst1rw2">
                    <h5 class="mt-3">HORMONES</h5>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb mt-2">T3</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">T4</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">
                        TSH</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Free T3</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">ATG</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">AMA</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">PTH</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Free T4</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">JAMH</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">AntiCCP Estradiol (E2)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">LHFSH</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Testosterone
                        </h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Progesterone</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">DHEA-S</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Cortisol</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Anti dS DNA</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">C3</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">C4</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Prolactin DHEA</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Free Testosterone</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">PCOD Profile</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Anti phospholipid IgG, IgM</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Anti Cardolipin Antibodies IgG, IgM</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Anti Sperm Anti Body (ASAB)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Total IgE</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Immunoglobulin IgA, IgG, IgM</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Thyroglobulin</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Cystatin-C</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Dual Test (gestation below 13 weeks)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Triple Marker (gestation 14-20 weeks)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Quadruple Test (gestation 14-22 weeks)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">TBPCR (Blood, Urine, Sputum)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">TB Gold</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">ANAIFA</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">ANA Profile</h6>
                </div>
                <div class="row tst1rw2">
                    <h5 class="mt-3">ALLERGY PANEL</h5>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb mt-2">ANCA-IFA
                    </h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Food Allergens panel (40)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Food Allergens panel (20)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Inhalation Allergens Panel (33)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="ocb">Inhalation Allergens Panel (20)</h6>
                </div>
                <div class="row tst1rw2">
                    <h6 class="sef">Food And Inhalation paediatric</h6>
                </div>
            </div>
    </div>
</section>
<section class="footer">
    <div class="rw2 row mx-auto">
        <div class="col9 col-lg-8">
            <div class="row">
                <div class="col-lg-2">
                    <img class="mt-4 ms-3" src="../static/images/make-appointment.png" alt="">
                </div>
                <div class="col-lg-7 mt-4">
                    <h5 class="ms-3"> Make an Appointment</h5>
                    <h6 class="ms-3">Call +91 81388 62626 or click Book Now to secure your appointment.</h6>
                </div>
                <div class="col-lg-3">
                    <a href="{% url 'hosapp:appointment' %}">
                    <button type="button" class="btn4 mt-5 btn btn-dark ">Book Now</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col91 col-lg-4">
            <div class="row">
                <div class="col-lg-3">
                    <img class="mt-4" src="../static/images/openinh-hours-logo.png" alt="">
                </div>
                <div class="col-lg-9">
                    <h5 class="mt-3">Opening Hours</h5>
                    <h6>Mon - Sat : 6:30pm to 6:00pm</h6>
                    <h6>Sun : 6:30am - 12:30pm</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="rw3 row">
        <div class="col-lg-2">
            <img src="../static/images/gmrl-footer-logo.svg" alt="">
        </div>
        <div class="col-lg-2">
            <h4 class="mb-4">Quick Links</h4>
            <h6>Home</h6>
            <h6>About Us</h6>
            <h6>Packages</h6>
            <h6>Tests</h6>
            <h6>Gallery</h6>
            <h6>Blog</h6>
            <h6>Testimonials</h6>
            <h6>Branches</h6>
            <h6>Contact Us</h6>
            <h6>Privacy Policy</h6>
            <h6>Terms & Conditions</h6>
        </div>
        <div class="col-lg-2">
            <h4 class="mb-4">Departments</h4>
            <h6>Pathology</h6>
            <h6>Biochemistry</h6>
            <h6>Microbiology</h6>
            <h6>Serology</h6>
            <h6>Immunology</h6>
            <h6>Radiology</h6>
            <h6>Molecular Biology</h6>
        </div>
        <div class="col-lg-3">
            <h4 class="mb-4">Our Packages</h4>
            <h6>Executive Package</h6>
            <h6>Ayush General</h6>
            <h6>Ayush Silver Plan</h6>
            <h6>Ayush Diabetic & Kidney Care</h6>
            <h6>Ayush Gold</h6>
            <h6>Advanced Cardiac Risk Cover Package</h6>
        </div>
        <div class="col-lg-3">
            <h4 class="mb-4">Get In Touch</h4>
            <h6>GMRL Laboratories Chambakkara, Ernakulam, Ernakulam - 682011</h6>
            <h6>+91 81388 62626</h6>
            <h6>0484 0000 0000</h6>
            <h6>info@gmrllabs.com</h6>
            <div class="rw4 row">
                <div class="col-lg-3">
                    <i class='bx bxl-facebook-circle' style='color:#0636a2'></i>
                </div>
                <div class="col-lg-3">
                    <i class='bx bxl-twitter' style='color:#00b2ef'></i>
                </div>
                <div class="col-lg-3">
                    <i class='bx bxl-linkedin'></i>
                </div>
                <div class="col-lg-3">
                    <i class='bx bxl-instagram' style='color:#ff7500'></i>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}